{% extends "base.html" %}
{% block content %}
<h2>Register</h2>
<form method="POST">
  {{ form.hidden_tag() }}
  <div class="mb-3">{{ form.username.label(class="form-label") }}{{ form.username(class="form-control") }}</div>
  <div class="mb-3">{{ form.password.label(class="form-label") }}{{ form.password(class="form-control") }}</div>
  <div class="mb-3">{{ form.confirm.label(class="form-label") }}{{ form.confirm(class="form-control") }}</div>
  <button type="submit" class="btn btn-success">{{ form.submit.label.text }}</button>
  <p class="mt-2">Have an account? <a href="{{ url_for('login') }}">Login here</a>.</p>
</form>
{% endblock %}
